body,html {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial;
  background: #fff;
}
ul {  
  padding: 15px 0 0px 10px; 
  list-style: none; 
  display: table;
  text-align: center;
  float: left;
  position: fixed;
}

li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
a {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 5px;
  position: relative;
}
a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #000;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}

#header {
  position: fixed;
  text-align: center;
  width:100%;
  height: 70px;
  background-color: rgba(255,255,255,0.9)
}

#main {
  font-family: "Helvetica Neue", Helvetica, Arial;
  text-align: left;
  background: #fff;
  max-width:100%;
  padding-top: 60px;
  color: #000;
  word-wrap: break-word;
}

#logo {
  padding: 8px 0 0 0;
}

#footer {
  text-align: center;
}

.c_0 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #050506; color: #050506;}
.c_1 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #1b1a1a; color: #1b1a1a;}
.c_2 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #373837; color: #373837;}
.c_3 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #555555; color: #555555;}
.c_4 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #767676; color: #767676;}
.c_5 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #989897; color: #989897;}
.c_6 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #b7b7b7; color: #b7b7b7;}
.c_7 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #d7d7d7; color: #d7d7d7;}
.c_8 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #eeeeee; color: #eeeeee;}
.c_9 {font-family: "Helvetica Neue", Helvetica, Arial; font-size: 9px; padding: 0 3px 0 3px; background: #fff; color: #fff;}

